
.flex-container {
  display: flex;
  background-color: rgb(160, 57, 126);
  width: auto;
  height: 200px;
  
}





.flex-container2 {
  display: flex;
  background-color:greenyellow;
  width: 180px;
  height: 400px;
  
  
  
  
  

}





.flex-container3 {
  display: flex;
  background-color: yellow;
  margin-left: 180px;
  margin-top: -400px;
  height: 400px;
  


}



