body{
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 10px;
    color: white;
    font-size: 2em;
}
header{
    background-color: green;
    text-align: center;
    padding: 2em;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows:  repeat(2, 100px);
    grid-gap: 10px;
    background-color: rgb(202, 96, 96);
    background: rgb(15, 0,128);
    text-align: center;
    padding: 2em;
    
    align-items: center;
    justify-content: center;


}
footer{
    background:rgb(190, 47, 47);
    text-align:center;
    padding: 2em;
}
.boxa{
    background-color: burlywood;
    height: 100px;
    
}
.boxb{
    background-color: red;
}
.boxc{
    background-color: pink;
}
.boxd{
    background-color: orange;
}
.boxe{
    background-color: green;
}
.boxf{
    background-color: gold;
}